body {
    background-color: rgb(206, 200, 178);
    text-align: center;
}
h1{
    color: darkgreen;
    font-weight: normal;
     font-style: italic;
}
p{
    color: black;
     font-style: italic;
     font-weight: normal;
} 
h2 { color: darkgreen;
    font-weight: normal;
    font-style: italic;
}
h3 { color: darkgreen;
    font-weight: normal;
    font-style: italic;
}
.listafilme {
    text-align: left;
}
h5{ color: darkgreen;
    font-weight: normal;
    font-style: italic;
}